.chat-display {
  max-height: 90dvh;
  overflow-y: auto;
}

.chat-display::-webkit-scrollbar {
  display: none;
}

/* Styling a chat message */
.chat {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  margin: 1.6rem 0;
  width: 100%;
}

.chat-user {
  justify-content: flex-end;
}
.chat-bot {
  justify-content: flex-start;
}
.chat-message {
  display: flex;
  align-items: flex-end;
  gap: 1.6rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  max-width: 70%;
  width: fit-content;
  box-shadow: 2px 4px 8px hsl(0, 0%, 94%);
}

.bot-message {
  background-color: var(--color-bot-message);
}
.user-message {
  background-color: var(--color-user-message);
}

.msg-icon {
  background-color: var(--color-bot-message);
  height: 4.8rem;
  width: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.msg-icon > svg {
  height: 20px;
  width: 20px;
}

.msg-icon.user-icon {
  background-color: var(--color-user-message);
}

.msg-icon.user-icon > svg {
  fill: var(--color-orange-primary);
}

.chat-display-container {
  padding-bottom: 10vh;
}
